name: generate and deploy API docs

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          persist-credentials: false
      - uses: actions/setup-python@v2
        with:
          python-version: "3.11"
      - name: Build
        run: |
          pip install pdoc3
          pip install -e .
          JUPYTER_PLATFORM_DIRS=1 python -We -m pdoc --html open_atmos_jupyter_utils
      - name: Deploy
        if: github.ref == 'refs/heads/main'
        uses: JamesIves/github-pages-deploy-action@4.1.1
        with:
          BRANCH: pdoc
          FOLDER: html/open_atmos_jupyter_utils
          CLEAN: true
